*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}


img{
width: 200px;
height: 200px;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.criteria
{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: antiquewhite;
}
.container .subm{
    width: 100px;
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    font-weight: 800;

}
.subm:hover{
    background-color: antiquewhite;
    
}
.frm{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width:100%;
    height: 100%;
    margin-top: 200px;
}
.name{
    margin-bottom: 10px;
    font-size: 2.5rem;
}
#txt{
    margin-bottom: 15px;
    border: 0px;
    background-color: antiquewhite;
    width: 200px;
    height: 40px;
    font-size: 30px;
}
#txt:hover{
    border: 0px;
}
input {
    outline:none;
   }
   .main .subm{
    width: 100px;
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    font-weight: 800;
    cursor: pointer;

}
.d{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d img{
    width:50px;
    height:50px;
}
.ps{
    display: flex;
}
.much{
    margin-left: 10px;
    width:270px;
}
.ps p{
    margin-right: 20px;
}
.adg .patrat{
width: 20px;
height: 25px;
background-color: rgb(194, 154, 103);
margin-left: 10px;
margin-right: 10px;
}
.adgm .patrat{
    width: 20px;
    height: 25px;
    background-color: rgb(194, 154, 103);
    margin-left: 10px;
    margin-right: 10px;
    }
.adgm{
    display: flex;
}
.adg {
display: flex;
}
.pot{
    width:320px;
    display: flex;
}
.mr{
    margin-right: 5px;
    
}
.ml{
    margin-left: 5px;
}
.container .subm{
    margin-top: 25px;
    margin-bottom: 50px;

}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media(min-width:700px)
{
    .fw{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 150px;
    }
}