<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
</head>
<body>
    <p class="criteria">Pick the one you want</p>
    <main>
        <form>
        <div class="container">
            <img src="images/img1.jpg" alt="">
            <input type="checkbox" name="check" onclick="onlyOne(this)" value="c1">
        </div>
        <div class="container">
            <img src="images/img2.jpg" alt="">
            <input type="checkbox" name="check" onclick="onlyOne(this)" value="c2">
        </div>
        <div class="container">
            <img src="images/img3.png" alt="">
            <input type="checkbox" name="check" onclick="onlyOne(this)" value="c3">
        </div>
        <div class="container">
            <input type="button" value="GO" class="subm" onclick="Go()">
        </div>
        

        </form>
        <div class="cart"></div>
    </main>
</body>

<script src="js/script.js"></script>

</html>